* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: black; */
    align-items: center;
}

form {
    background-color: bisque;
}

form#register {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: 500px;
    width: 700px;
}
form#login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: 150px;
    width: 700px;
}

form h2 {
    text-align: left;
}

div.form-group {
    /* border: 1px solid purple; */
    padding: 15px;
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
div.form-submit {
    /* border: 1px solid red; */
    height: 50px;
    width: 60%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.login-group {
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

input.text {
    height: 30px;
    outline: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
}

label {
    margin-right: 5px;
}




